.root {
  background-color: var(--mantine-color-elv-neutral-1);
  border-color: transparent;
}

.label {
  color: var(--mantine-color-elv-neutral-5);
  font-weight: 400;
  text-transform: capitalize;
}
