.dropdown {
  right: 0;
}

.dropdownInput {
  border: none;
  color: var(--mantine-color-elv-gray-8);
  font-size: 14px;
  font-weight: 500;
  height: 14px;
  min-height: 14px;
  padding-inline-end: 0;
}

.dropdownSection {
  justify-content: flex-start;
  width: fit-content;
}

.pillButton {
  border-color: var(--mantine-color-elv-gray-4);
  border-radius: 16px;
}
