.grid {
  display: grid;
  gap: 36px;
  grid-template-columns: minmax(0, 375px) 1fr;
}

.videoWrapper {
  border-radius: 14px;
  overflow: hidden;
  background-color: black;
}

.shareIcon {
  flex-shrink: 0;
}

.textBox {
  border-radius: 7px;
}
