.listItem {
  word-break: break-word;
  overflow-wrap: break-word;
}

.inputLabel {
  color: var(--mantine-color-elv-gray-8);
  font-size: 1rem;
  font-weight: 600;
}

.shareIcon {
  flex-shrink: 0;
}

