.inputFlexbox {
  border: 1px solid var(--mantine-color-gray-4);
  box-sizing: border-box;
  height: 52.5px;
  padding: 5px;

  &[data-single-field] {
    border-radius: 50px;
  }

  &[data-single-field="false"] {
    border-radius: 50px 0 0 50px;
  }
}

.textInput {
  border: none;
  border-radius: 50px;
  margin: 0;
}

.radioBody {
  align-items: center;
}

.comboboxOption {
  padding: 6px 0;
}
