.label {
  font-size: 1.125rem;
  font-weight: 700;
}

.tab {
  border-width: 0 0 5px;
  color: var(--mantine-color-elv-gray-4);

  &[data-active] {
    color: var(--mantine-color-elv-violet-3);
  }
}
