.input {
  &[data-single-field] {
    border-radius: 50px;
  }

  &[data-single-field="false"] {
    border-radius: 50px 0 0 50px;
  }

  &:focus {
    border-color: var(--mantine-color-gray-4);
  }
}

.root {
  flex: 2;
}

.radioBody {
  align-items: center;
}

.comboboxOption {
  padding: 6px 0;
}
