.comboboxInput {
  border-radius: 50px 0 0 50px;

  &:focus {
    border-color: var(--mantine-color-gray-4);
  }
}

.comboboxWrapper {
  flex: 3;
}

.searchWrapper {
  flex: 1;
}

.searchInput {
  border-radius: 0 50px 50px 0;
  margin-left: -1px;

  &:focus {
    border-color: var(--mantine-color-gray-4);
  }
}

